<!-- @format -->

<div class="card mb-4 mt-4">
  <h5 class="card-header">Add new product</h5>
  <div class="card-body">
    <form action="/product/add-new-product" method="post">
      <div class="mb-3">
        <label for="FormControlName" class="form-label">Name:</label>
        <input type="text" class="form-control" id="FormControlName" placeholder="Product name" name="name" />
      </div>
      <div class="mb-3">
        <label for="FormControlImage" class="form-label">URL THUMNAIL:</label>
        <input
          type="text"
          class="form-control"
          id="FormControlImage"
          placeholder="https://image.com/...."
          name="thumnail"
        />
      </div>
      <div class="mb-3">
        <label for="FormControlCategoryId" class="form-label">Select Category</label>
        <select class="form-select" id="FormControlCategoryId" name="categoryId">
          <% categories.forEach(function(category){ %>
          <option value="<%-category.id%>"><%-category.name%></option>

          <% }); %>
        </select>
      </div>
      <div class="mb-3">
        <label for="FormControlPrice" class="form-label">Price:</label>
        <input type="text" class="form-control" id="FormControlPrice" placeholder="Price..." name="price" />
      </div>
      <div class="mb-3">
        <label for="FormControlDiscount" class="form-label">Discount:</label>
        <input type="text" class="form-control" id="FormControlDiscount" placeholder="Discount" name="discount" />
      </div>
      <div class="mb-3">
        <label for="FormControlDescription" class="form-label">Description</label>
        <textarea class="form-control" id="FormControlDescription" rows="3" name="description"></textarea>
      </div>
      <div>
        <button type="submit" class="btn btn-primary">Add new product</button>
      </div>
    </form>
  </div>
</div>
