

<!-- / Content -->
          

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
   

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="http://localhost:3000/libs/jquery/jquery.js"></script>
    <script src="http://localhost:3000/libs/popper/popper.js"></script>
    <script src="http://localhost:3000/javascripts/bootstrap.js"></script>
    <script src="http://localhost:3000/libs/perfect-scrollbar/perfect-scrollbar.js"></script>

    <script src="http://localhost:3000/javascripts/menu.js"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="http://localhost:3000/libs/apex-charts/apexcharts.js"></script>

    <!-- Main JS -->
    <script src="http://localhost:3000/javascripts/main.js"></script>

    <!-- Page JS -->
    <script src="http://localhost:3000/javascripts/dashboards-analytics.js"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </body>
</html>
